{% extends 'enroll/base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-6 offset-3">
        <!--Start of messages for successful registration-->
        {% if messages %}
            {% for message in messages %}
                <p {% if message.tags %} class="alert alert-{{message.tags}} border border-dark" {% endif %}><b>{{message}}</b><button class='close' data-dismiss="alert">&#215;</button></p>
            {% endfor %}
        {% endif %}
        <!--End of messages for successful registration-->
    <div class="container bgc" >

        <form action="" method="post" novalidate >
        {% csrf_token %}
        <!--Start of get in control of error fields-->
        <div class="form-group" >    
        {% for fm in form %}
            {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small> <br>
        {% endfor %} 
        </div> 
        <!--End of get in control of error fields-->  
        <input type="submit" value='Submit' class='btn btn-success mb-2 m'>  
        <a href=" {% url 'login' %} " type="buttton" class="btn btn-danger mb-2">Login</a>
        <!--Start of Non field errors-->   
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p> 
            {% endfor %}
        {% endif %}     
        <!--End of Non field errors-->
        </form>
    </div>
    </div>
</div>





{% endblock content %}